@using MVC_Ticaret.Models.Sinifler
@model List<KarqoDetallar>
@{
    ViewBag.Title = "KarqoDetallar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Karqo detallar</h2>

<div>
    <label>Kargo seriyasi: @ViewBag.kser</label>
</div>

<div style="display:flex">
    <div>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="~/img/gedisat1.png" /></td>
                    <td><img src="~/img/right.png" /></td>
                </tr>
                <tr>
                    <td><img src="~/img/gedisat2.png" /></td>
                    <td><img src="~/img/right.png" /></td>
                </tr>
                <tr>
                    <td><img src="~/img/gedisat3.png" /></td>
                    <td><img src="~/img/right.png" /></td>
                </tr>
                <tr>
                    <td><img src="~/img/Gedisat4.png" /></td>
                    <td><img src="~/img/right.png" /></td>
                </tr>
                <tr>
                    <td><img src="~/img/gedisat5.png" /></td>
                    <td><img src="~/img/right.png" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <Div>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td><span><b>@x.Hereket</b></span></td>
                    </tr>
                    <tr>
                        <td>@x.Tarix</td>
                    </tr>
                }

            </tbody>
        </table>
    </Div>
</div>