
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ticaret sayti</title>
    <link href="~/Web/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Ümid Telekom</a>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Axtar..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Parametrlər</a><a class="dropdown-item" href="#">Qeydiyyat</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="login.html">Çıxış</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @if (User.IsInRole("B"))
                        {
                            <a class="nav-link" href="~/Kateqoriya/Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-bars"></i></div>
                                Kateqoriyalar
                            </a>
                        }

                        <a class="nav-link" href="~/Mehsullar/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                            Məhsullar
                        </a>
                        <a class="nav-link" href="~/Musteriler/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Müştərilər
                        </a>
                        <a class="nav-link" href="~/Sobeler/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                            Şöbələr
                        </a>
                        <a class="nav-link" href="~/Isciler/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            İşçilər
                        </a>
                        <a class="nav-link" href="~/Karqo/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-clipboard"></i></div>
                            Karqo
                        </a>
                        <a class="nav-link" href="~/Fakturalar/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-clipboard"></i></div>
                            Fakturalar
                        </a>
                        <a class="nav-link" href="~/FakturaQeyd/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                            Faktura qeydləri
                        </a>
                        <a class="nav-link" href="~/Xercler/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-recycle"></i></div>
                            Xərclər
                        </a>
                        <a class="nav-link" href="~/SatisHereket/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-cubes"></i></div>
                            Satış prosesləri
                        </a>
                        <a class="nav-link" href="~/Statistika/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Statiskalar
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">&copy; Ümid Telekom mağazasının rəsmi internet saytının admin paneli. Bakı 2022</div>
                        <div>
                            <a href="#">Gizlilik siyasəti</a>
                            &middot;
                            <a href="#">Şərtlər &amp; qaydalar</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
